body{
    background: black;
}

.clock {
    min-width: content-box;
    vertical-align: middle;
    margin: 15%;
}

.clock p {
    text-align: center;
    color: white;
    font-size: 400%;
}

#clock {
    text-align: center;
    color: white;
    border-style: dashed;
    border-color: white;
    font-size: 550%;
}